{% extends '_base.html' %}
{% load humanize %}
{% load persian_numbers %}
{% block content %}
    <!-- Breadcrumb area Start -->
    <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                        <h1 class="page-title">سبد خرید</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area End -->

    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-md--50">
                            <div class="row no-gutters">
                                <div class="col-12">
                                    <div class="table-content table-responsive">
                                        <table class="table text-center">
                                            <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th>عکس محصول</th>
                                                <th class="text-left">نام محصول</th>
                                                <th>قیمت</th>
                                                <th>مقدار</th>
                                                <th>مجموع</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in cart %}
                                                <tr>
                                                    <td class="product-remove text-left"><a href="{% url 'cart-del-product' item.obj.pk %}"><i
                                                            class="flaticon flaticon-cross"></i></a></td>
                                                    <td class="product-thumbnail text-left">
                                                        <img src="{{ item.obj.image.url }}"
                                                             alt="Product Thumnail">
                                                    </td>
                                                    <td class="product-name wide-column">
                                                        <h3>
                                                            <a href="product-details.html">{{ item.obj.title }}</a>
                                                        </h3>
                                                    </td>
                                                    <td class="product-price">
                                                            <span class="product-price-wrapper">
                                                                <span class="money">{{ item.obj.final_price | intcomma | trans_number }} تومان</span>
                                                            </span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div class="quantity">
                                                            {{ item.quantity | intcomma | trans_number }}
{#                                                            <input type="number" class="quantity-input" name="qty"#}
{#                                                                   id="qty-1" value={{ item.quantity | trans_number}} min="1">#}
                                                        </div>
                                                    </td>
                                                    <td class="product-total-price">
                                                            <span class="product-price-wrapper">
                                                                <span class="money">{{ item.price | intcomma | trans_number }} تومان</span>
                                                            </span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    {% if cart|length != 0 %}
                            <div class="row no-gutters border-top pt--20 mt--20">
                                <div class="col-sm-6 text-sm-right">
                                    <a href="{% url 'clear-cart' %}"><button type="submit" class="cart-form__btn">خالی کردن سبد خرید</button></a>
                                </div>
                            </div>
                    {% endif %}

                    </div>
                    <div class="col-lg-4">
                        <div class="cart-collaterals">
                            <div class="cart-totals">
                                <h5 class="font-size-14 font-bold mb--15">مجموع</h5>
                                <div class="cart-calculator">
                                    <div class="cart-calculator__item">
                                        <div class="cart-calculator__item--head">
                                            <span>مجموع</span>
                                        </div>
                                        <div class="cart-calculator__item--value">
                                            <span>{{ cart.total_price | intcomma | trans_number }} تومان</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <a href="{% url 'checkout' %}" class="btn btn-fullwidth btn-bg-red btn-color-white btn-hover-2">
                                ثبت سفارش
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->
{% endblock %}