{% extends '_base.html' %}
{% block content %}
      <!-- Breadcrumb area Start -->
        <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                            <h1 class="page-title">سفارش</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb area End -->

        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="page-content-inner">
                <div class="container">
                    <div class="row pt--50 pt-md--40 pt-sm--20"></div>
                    <div class="row pb--80 pb-md--60 pb-sm--40">
                        <!-- Checkout Area Start -->
                        <div class="col-lg-6">
                            <div class="checkout-title mt--10">
                                <h2>جزئیات سفارش</h2>
                            </div>
                            <div class="checkout-form">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit">submit</button>
                                     for change your info click here <a
                                        href="{% url 'profile' %}">edit_profile</a>
                                </form>
{#                                <form action="#" class="form form--checkout">#}
{#                                    <div class="form-row mb--20">#}
{#                                        <div class="form__group col-md-6 mb-sm--30">#}
{#                                            <label for="billing_fname" class="form__label form__label--2">نام  <span class="required">*</span></label>#}
{#                                            <input type="text" name="billing_fname" id="billing_fname" class="form__input form__input--2">#}
{#                                        </div>#}
{#                                        <div class="form__group col-md-6">#}
{#                                            <label for="billing_lname" class="form__label form__label--2">نام خانوادگی  <span class="required">*</span></label>#}
{#                                            <input type="text" name="billing_lname" id="billing_lname" class="form__input form__input--2">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="form-row mb--20">#}
{#                                        <div class="form__group col-12">#}
{#                                            <label for="billing_company" class="form__label form__label--2">آدرس</label>#}
{#                                            <input type="text" name="billing_company" id="billing_company" class="form__input form__input--2">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="form-row mb--20">#}
{#                                        <div class="form__group col-12">#}
{#                                            <label for="billing_phone" class="form__label form__label--2">شماره همراه <span class="required">*</span></label>#}
{#                                            <input type="text" name="billing_phone" id="billing_phone" class="form__input form__input--2">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="form-row mb--20">#}
{#                                        <div class="form__group col-12">#}
{#                                            <label for="billing_email" class="form__label form__label--2">ایمیل  <span class="required">*</span></label>#}
{#                                            <input type="email" name="billing_email" id="billing_email" class="form__input form__input--2">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="form-row">#}
{#                                        <div class="form__group col-12">#}
{#                                            <label for="orderNotes" class="form__label form__label--2">یادداشت شما</label>#}
{#                                            <textarea class="form__input form__input--2 form__input--textarea" id="orderNotes" name="orderNotes" placeholder="اگر یادداشتی دارید در اینجا وارد کنید. در غیر این صورت این مکان را خالی بگذارید"></textarea>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </form>#}
                            </div>
                        </div>
                        <div class="col-xl-5 offset-xl-1 col-lg-6 mt-md--40">
                            <div class="order-details">
                                <div class="checkout-title mt--10">
                                    <h2>سفارش شما</h2>
                                </div>
                                <div class="table-content table-responsive mb--30">
                                    <table class="table order-table order-table-2">
                                        <thead>
                                            <tr>
                                                <th>محصول</th>
                                                <th class="text-right">قیمت نهایی</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in cart %}

                                            <tr>
                                                <th>{{ item.obj.title }}
                                                    <strong><span>&#10005;</span>{{ item.quantity }}</strong>
                                                </th>
                                                <td class="text-right">{{ item.obj.final_price }} تومان</td>
                                            </tr>
                                        {% endfor %}

{#                                            <tr>#}
{#                                                <th>محصول شماره دو#}
{#                                                    <strong><span>&#10005;</span>۱</strong>#}
{#                                                </th>#}
{#                                                <td class="text-right">۵۸,۰۰۰ تومان</td>#}
{#                                            </tr>#}
                                        </tbody>
                                        <tfoot>
                                            <tr class="cart-subtotal">
                                                <th>مجموع</th>
                                                <td class="text-right">{{ cart.total_price }} تومان</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="checkout-payment">
                                    <h2 class="py-5">روش پرداخت</h2>
                                    <form action="#" class="payment-form">
                                        <div class="payment-group mb--10">
                                            <div class="payment-radio">
                                                <input type="radio" value="bank" name="payment-method" id="bank" checked>
                                                <label class="payment-label" for="cheque">درگاه آنلاین زرین پال</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Checkout Area End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->
{% endblock %}