    <aside class="mini-cart" id="miniCart">
        <div class="mini-cart-wrapper">
            <a href="" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
            <div class="mini-cart-inner">
                <h3 class="mini-cart__heading mb--40 mb-lg--30 text-right">سبد خرید</h3>
                <div class="mini-cart__content">
                    <ul class="mini-cart__list text-right">
                        {% for item in cart %}
                            <li class="mini-cart__product d-flex justify-content-between">
                            <div class="mini-cart__product__image">
                                <a href="#">
                                    <img src="{{ item.obj.image.url }}" alt="products">
                                </a>
                            </div>
                            <div class="mini-cart__product__content pt-2">
                                    <span class="mini-cart__product__title d-flex flex-row justify-content-between">
                                        <a href="{% url 'product-detail' item.obj.slug %}"> {{ item.obj.title }} </a>
                                        <a href="{% url 'cart-del-product' item.obj.pk %}" class="">
                                            &#10060;
                                        </a>
                                    </span>
                                <span class="mini-cart__product__quantity">
                                        <span>{{ item.obj.final_price }} تومان</span> &#215; <span>{{ item.quantity }}</span>
                                    </span>
                            </div>
                        </li>

                        {% endfor %}
                    </ul>
                    <div class="mini-cart__total">
                        <span>جمع کل</span>
                        <span class="ammount">{{ cart.total_price }} تومان</span>
                    </div>
                    <div class="mini-cart__buttons">
                        <a href="{% url 'cart-list' %}" class="btn btn-fullwidth btn-bg-sand mb--20">مشاهده سبد خرید</a>
                        <a href="checkout.html" class="btn btn-fullwidth btn-bg-sand">پرداخت</a>
                    </div>
                </div>
            </div>
        </div>
    </aside>