{% extends '_base.html' %}
{% load static %}
{% block content %}
    <!-- Breadcrumb area Start -->
    <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                        <h1 class="page-title">جزئیات محصول «{{ product.title }}» | {{ product.likes.all|length }}
                            likes</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area End -->

    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80">
            <div class="container">
                <div class="row no-gutters mb--80">
                    <div class="col-12 col-sm-4 product-main-image d-flex align-content-center">
                        <img class="m-auto" style="max-height: 400px;"
                             src="https://dkstatics-public.digikala.com/digikala-products/8f34ee9823202d09ee97deb9b1c8e3300a9a24d8_1643265727.jpg?x-oss-process=image/resize,w_1600/quality,q_80"
                             alt="">
                    </div>
                    <div class="col-12 col-sm-8 product-main-details mt-md--50">
                        <div class="product-summary pl-lg--30 pl-md--0 text-right p-4">
                            <h3 class="product-title mb--20">{{ product.title }}</h3>
                            <p class="product-short-description mb--20">
                                {{ product.description }}
                            </p>
                            <div class="my-5 py-5 product-price-wrapper mb--25">
                                <span class="money text-success">{{ product.final_price }} تومان</span>
                                {% if product.promotion %}
                                    <span class="price-separator">-</span>
                                    <span class="money old-price text-danger">{{ product.price }} تومان</span>
                                {% endif %}
                            </div>
                            <div class="product-action d-flex align-items-sm-center align-content-center mb--30">
                                <form action="{% url 'add-product-to-cart' product.pk %}" method="post">
                                    {% csrf_token %}
                                    <div class="quantity-wrapper d-flex justify-content-start">
                                        <div class="quantity">
                                            <input type="number" class="quantity-input" name="quantity" id="qty"
                                                   value="1"
                                                   min="1">
                                            <button type="submit"
                                                    class="btn btn-small btn-bg-red btn-color-white btn-hover-2"
                                                    onclick="window.location.href='cart.html'">

                                                اضافه به سبد خرید
                                            </button>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="product-footer-meta mt-5 pt-5">
                        <p><span class="m-0">دسته بندی ها:</span>
                            {% for category in product.category.all %}
                                <a href="{% url 'product-list' %}?category__title={{ category.title }}">{{ category.title }}</a>

                                ,

                            {% endfor %}
                        </p>
                    </div>
                    <a href="{% url 'like-product' product.pk %}">
                        <button class="btn btn-danger">{{ like }}</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="product-data-tab tab-style-3">
                    <div class="nav nav-tabs product-data-tab__head" id="product-tab" role="tablist">
                        <a class="m-0 product-data-tab__link nav-link active" id="nav-description-tab"
                           data-toggle="tab" href="#nav-description" role="tab" aria-selected="true">
                            <span>توضیحات محصول</span>
                        </a>
                        <a class="m-0 product-data-tab__link nav-link" id="nav-info-tab" data-toggle="tab"
                           href="#nav-info" role="tab" aria-selected="true">
                            <span>ویژگی ها</span>
                        </a>
                        <a class="m-0 product-data-tab__link nav-link" id="nav-reviews-tab" data-toggle="tab"
                           href="#nav-reviews" role="tab" aria-selected="true">
                            <span>نظرات ({{ product.comments.can_display|length }})</span>
                        </a>
                    </div>
                    <div class="tab-content product-data-tab__content" id="product-tabContent">
                        <div class="tab-pane fade show active" id="nav-description" role="tabpanel"
                             aria-labelledby="nav-description-tab">
                            <div class="product-description text-justify">
                                <p>{{ product.description }}
                            </div>
                        </div>
                        <div class="tab-pane text-right" id="nav-info" role="tabpanel"
                             aria-labelledby="nav-info-tab">
                            <div class="table-content table-responsive">
                                <table class="table shop_attributes">
                                    <tbody>
                                    <tr>
                                        <th>وزن</th>
                                        <td>۴۳۰ گرم</td>
                                    </tr>
                                    <tr>
                                        <th>سایز</th>
                                        <td>XL</td>
                                    </tr>
                                    <tr>
                                        <th>رنگ</th>
                                        <td>
                                            <a href="shop-sidebar.html">مشکی</a>,
                                            <a href="shop-sidebar.html">سبز</a>,
                                            <a href="shop-sidebar.html">قرمز</a>,
                                            <a href="shop-sidebar.html">نارنجی</a>,
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-reviews" role="tabpanel"
                             aria-labelledby="nav-reviews-tab">
                            <div class="product-reviews">
                                <h3 class="review__title">{{ product.comments.can_display|length }} نظر برای لباس تابستانی</h3>
                                <ul class="review__list">
                                    {% for comment in product.comments.can_display %}
                                        <li class="review__item">
                                            <div class="review__container">
                                                <div class="review__text">
                                                    <div class="d-flex flex-sm-row flex-row">
                                                        <img src="{% static 'img/others/comment-1.jpg' %}"
                                                             alt="Review Avatar" class="review__avatar">
                                                        <div>
                                                            <div class="review__meta">
                                                                <strong class="review__author px-4">{{ comment.user.username }}
                                                                </strong> |
                                                                {% if comment.user == user %}

                                                                <a href="{% url 'comment-delete' product.slug comment.id %}"><button class="btn-danger" type="submit">delete</button></a>
                                                                {% endif %}
                                                                <span class="review__dash">-</span>
                                                                <span class="review__published-date">{{ comment.date_time_created }}/span>
                                                            </div>
                                                            <div class="product-rating">
                                                                <div class="m-0 star-rating star-five">
                                                            <span>Rated <strong
                                                                    class="rating">3.00</strong> out of 5</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="review__description text-right px-4">
                                                        {{ comment.text }}
                                                    </p>
                                                </div>
                                            </div>
                                        </li>

                                    {% endfor %}

                                </ul>
                                <div class="review-form-wrapper">
                                    <div class="row">
                                        <div class="border-top py-5 w-100"></div>
                                        <div class="col-lg-8 m-auto">
                                            <span class="reply-title pull-right">نظر خود را بنویسید</span>
                                            <br>
                                            <form action="{% url 'create-comment' product.pk %}" method="post"
                                                  class="form text-right">
                                                {% csrf_token %}
                                                {#                                                <div class="form-notes mb--20">#}
                                                {#                                                    <p class="my-3"><span class="required">*</span>ایمیل شما#}
                                                {#                                                        برای دیگران نشان داده نمیشود.</p>#}
                                                {#                                                </div>#}
                                                <div class="form__group mb--10">
                                                    <label class="form__label d-block" for="email">متن نظر
                                                        شما<span class="required">*</span></label>
                                                    <textarea name="text" id="review"
                                                              class="form__input form__input--textarea"></textarea>
                                                </div>
                                                {#                                                <div class="form__group mb--20">#}
                                                {#                                                    <label class="form__label d-block" for="name">نام شما<span#}
                                                {#                                                            class="required">*</span></label>#}
                                                {#                                                    <input type="text" name="name" id="name"#}
                                                {#                                                           class="form__input">#}
                                                {#                                                </div>#}
                                                {#                                                <div class="form__group mb--20">#}
                                                {#                                                    <label class="form__label d-block" for="email">ایمیل#}
                                                {#                                                        شما<span class="required">*</span></label>#}
                                                {#                                                    <input type="email" name="email" id="email"#}
                                                {#                                                           class="form__input">#}
                                                {#                                                </div>#}
                                                <div class="form__group">
                                                    <div class="form-row">
                                                        <div class="col-12">
                                                            <input type="submit" value="ارسال"
                                                                   class="btn-submit">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- Main Content Wrapper End -->
{% endblock %}