{% load static %}
{% load humanize %}
{% load persian_numbers %}
<!doctype html>
<html class="no-js" lang=""><!--------Theme Shered by Codingyar.com--------->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ShoppingYar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href=" {% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/icon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>

    <!-- ************************* CSS Files ************************* -->

    <link rel="stylesheet" href="{% static 'css/_base.css' %}">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


</head>
<body dir='rtl'>
{% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="True">&times;</span>
            </button>
            {{ message }}
        </div>
    </div>
{% endfor %}


<!-- Preloader Start -->
{#<div class="ShoppingYar-preloader active">#}
{#    <div class="ShoppingYar-preloader-inner h-100 d-flex align-items-center justify-content-center">#}
{#        <div class="ShoppingYar-child ShoppingYar-bounce1"></div>#}
{#        <div class="ShoppingYar-child ShoppingYar-bounce2"></div>#}
{#        <div class="ShoppingYar-child zuka-bounce3"></div>#}
{#    </div>#}
{#</div>#}
<!-- Preloader End -->

<!-- Main Wrapper Start -->
<div class="wrapper">
    <!-- Header Start -->
    <header class="header">
        <div class="header-inner fixed-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-9 col-lg-8 col-5 col-xs-0 col-none col-sm-block p-0">
                        <nav class="main-navigation">
                            <div class="site-branding" style="margin-right: 30px;">
                                <a href="index.html" class="logo">
                                    <figure class="logo--normal d-none d-sm-block">
                                        <img class="px-5" src="{% static 'img/codingyar_logo.png' %}"
                                             style="max-height: 50px; margin-bottom: -15px;" alt="Logo">
                                    </figure>
                                </a>
                            </div>
                            <div class="mainmenu-nav d-none d-lg-block w-100 pr-3">
                                <ul class="mainmenu d-lg-flex jusity-content-end jusity-content-lg-start pt-4">
                                    <li class="mainmenu__item menu-item-has-children active">
                                        <a href="{% url 'product-list' %}" class="mainmenu__link">
                                            <span class="mm-text">خانه</span>
                                        </a>
                                    </li>
                                    {#                                    <li class="mainmenu__item menu-item-has-children">#}
                                    {#                                        <a href="Blog.html" class="mainmenu__link">#}
                                    {#                                            <span class="mm-text">وبلاگ</span>#}
                                    {#                                        </a>#}
                                    {#                                    </li>#}
                                    <li class="header-toolbar__item user-info">
                                            <i>دسته بندی ها</i>
                                        <ul class="user-info-menu">
                                            {% for category in categories %}
                                                <li>
                                                    <a class="text-right"
                                                       href="{% url 'category' category.title %}">{{ category.title }}</a>
                                                </li>
                                            {% endfor %}


                                        </ul>
                                    </li>
                                {% if user.is_superuser %}
                                    <li class="mainmenu__item menu-item-has-children">
                                        <a href="{% url 'add-product' %}" class="mainmenu__link">
                                            <span class="mm-text">اضافه کردن محصول</span>
                                        </a>
                                    </li>
                                {% endif %}
                                    <li class="mainmenu__item">
                                        <a href="{% url 'home' %}" class="mainmenu__link">
                                            <span class="mm-text">تماس با ما</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-7 col-12 p-0">
                        <ul class="header-toolbar">
                            <li class="header-toolbar__item">
                                <a href="{% url 'product-liked-list' %}" class="header-toolbar__btn mx-4">
                                    <i class="flaticon flaticon-like"></i>
                                </a>
                            </li>
                            <li class="header-toolbar__item mini-cart-item">
                                <a href="#miniCart" class="header-toolbar__btn toolbar-btn mini-cart-btn">
                                    <i class="flaticon flaticon-shopping-cart"></i>
                                    <sup class="mini-cart-count">{{ cart|length| intcomma | trans_number }}</sup>
                                </a>
                            </li>
                            <li class="header-toolbar__item user-info">
                                <a href="{% url 'profile' %}" class="header-toolbar__btn">
                                    <i class="flaticon flaticon-user"></i>
                                </a>
                                <ul class="user-info-menu">
                                    <li>
                                        <a class="text-right" href="{% url 'profile' %}">حساب کاربری</a>
                                    </li>
                                    <li>
                                        <a class="text-right" href="{% url 'cart-list' %}">سبد خرید</a>
                                    </li>
                                    <li>
                                        <a class="text-right" href="{% url 'product-liked-list' %}">علاقه مندی ها</a>
                                    </li>
                                    <li>
                                        <a class="text-right" href="{% url 'orders' %}">تاریخچه سفارشات</a>
                                    </li>
                                </ul>
                            </li>
{#                            <li class="header-toolbar__item">#}
{#                                <a href="#searchForm" class="header-toolbar__btn toolbar-btn">#}
{#                                    <i class="flaticon flaticon-search"></i>#}
{#                                </a>#}
{#                            </li>#}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    {% block content %}
    {% endblock %}
    <!-- Footer Start-->
    <footer class="footer">
        <div class="footer-top bg-color ptb--50" data-bg-color="#f6f6f6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 text-center">
                        <div class="footer-widget mb--50">
                            <div class="textwidget">
                                <img src="{% static 'img/codingyar_logo.png' %}" alt="Logo">
                            </div>
                        </div>
                        <div class="footer-widget mb--50 pb--1">
                            <ul class="footer-menu">
                                <li><a href="">درباره ما</a></li>
                                <li><a href="">قوانین و مقررات</a></li>
                                <li><a href="">تماس با ما</a></li>
                            </ul>
                        </div>
                        <div class="footer-widget">
                            Codingyar.com © | all rights reserved
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End-->

    <!-- Search form Popup Start -->
    <div class="searchform__popup" id="searchForm">
        <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
        <div class="searchform__body">
            <p>در باکس زیر عبارت خود را وارد کنید</p>
            <form class="searchform">
                <input type="text" name="popup-search" id="popup-search" class="searchform__input"
                       placeholder="جستجو در بین محصولات...">
                <button type="submit" class="searchform__submit"><i class="flaticon flaticon-magnifying-glass-icon"></i>
                </button>
            </form>
        </div>
    </div>
    <!-- Search form Popup End -->

    <!-- Mini Cart Start -->
    {% include 'store/mini_cart.html' %}
    <!-- Mini Cart End -->

    <!-- Global Overlay Start -->
    <div class="ShoppingYar-global-overlay"></div>
    <!-- Global Overlay End -->

</div>
<!-- Main Wrapper End -->
<!-- ************************* JS Files ************************* -->

<!-- jQuery JS -->
<script src="{% static 'js/vendor.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>